--
-- PostgreSQL database dump
--

\restrict mtIgrKIJ1fPFWmOhjO7234Wdi2QmI4WnA169gUori4SZXfhJJ8t1fHXb7GXKVx1

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: account_status_enum; Type: TYPE; Schema: public; Owner: exam_user
--

CREATE TYPE public.account_status_enum AS ENUM (
    'ACTIVE',
    'SUSPENDED',
    'DISQUALIFIED'
);


ALTER TYPE public.account_status_enum OWNER TO exam_user;

--
-- Name: attempt_status_enum; Type: TYPE; Schema: public; Owner: exam_user
--

CREATE TYPE public.attempt_status_enum AS ENUM (
    'NOT_STARTED',
    'IN_PROGRESS',
    'SUBMITTED',
    'MISSED'
);


ALTER TYPE public.attempt_status_enum OWNER TO exam_user;

--
-- Name: challenge_status_enum; Type: TYPE; Schema: public; Owner: exam_user
--

CREATE TYPE public.challenge_status_enum AS ENUM (
    'UPCOMING',
    'ACTIVE',
    'SCORING',
    'FINALIZED',
    'ARCHIVED'
);


ALTER TYPE public.challenge_status_enum OWNER TO exam_user;

--
-- Name: difficulty_enum; Type: TYPE; Schema: public; Owner: exam_user
--

CREATE TYPE public.difficulty_enum AS ENUM (
    'EASY',
    'MEDIUM',
    'HARD'
);


ALTER TYPE public.difficulty_enum OWNER TO exam_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO exam_user;

--
-- Name: attempt_answers; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.attempt_answers (
    id uuid NOT NULL,
    attempt_id uuid NOT NULL,
    question_id uuid NOT NULL,
    selected_option character varying(1) NOT NULL,
    is_correct boolean NOT NULL,
    hint_used boolean NOT NULL,
    hint_used_at timestamp with time zone,
    answered_at timestamp with time zone NOT NULL,
    raw_score numeric(10,2) NOT NULL,
    effective_score numeric(10,2) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.attempt_answers OWNER TO exam_user;

--
-- Name: attempts; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.attempts (
    id uuid NOT NULL,
    challenge_id uuid NOT NULL,
    participant_id uuid NOT NULL,
    exam_day_id uuid NOT NULL,
    status public.attempt_status_enum NOT NULL,
    special_unlocked boolean NOT NULL,
    bonus_entered boolean NOT NULL,
    started_at timestamp with time zone NOT NULL,
    allowed_duration_seconds integer NOT NULL,
    submitted_at timestamp with time zone,
    total_time_seconds integer,
    raw_score numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    final_score numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    scoring_version integer NOT NULL,
    hints_used_count integer NOT NULL,
    attendance_flag boolean NOT NULL,
    start_ip character varying,
    start_user_agent character varying,
    last_ip character varying,
    last_user_agent character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.attempts OWNER TO exam_user;

--
-- Name: challenges; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.challenges (
    id uuid NOT NULL,
    name character varying NOT NULL,
    status public.challenge_status_enum NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.challenges OWNER TO exam_user;

--
-- Name: exam_days; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.exam_days (
    id uuid NOT NULL,
    challenge_id uuid NOT NULL,
    day_number integer NOT NULL,
    window_start timestamp with time zone NOT NULL,
    window_end timestamp with time zone NOT NULL,
    grace_seconds integer NOT NULL,
    is_force_locked boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.exam_days OWNER TO exam_user;

--
-- Name: institution_rankings; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.institution_rankings (
    id uuid NOT NULL,
    challenge_id uuid NOT NULL,
    college character varying NOT NULL,
    state character varying NOT NULL,
    participant_count integer NOT NULL,
    avg_percentile numeric(6,3),
    completion_rate numeric(6,3),
    participation_index numeric(8,4),
    institutional_index numeric(10,4),
    global_institution_rank integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.institution_rankings OWNER TO exam_user;

--
-- Name: participant_progress; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.participant_progress (
    id uuid NOT NULL,
    challenge_id uuid NOT NULL,
    participant_id uuid NOT NULL,
    cumulative_score numeric(10,2) NOT NULL,
    cumulative_base_max numeric(10,2) NOT NULL,
    days_completed integer NOT NULL,
    attendance_count integer NOT NULL,
    eligible_for_bonus_next_day boolean NOT NULL,
    last_updated timestamp with time zone NOT NULL,
    cumulative_base_effective_score numeric(10,2) DEFAULT 0 NOT NULL
);


ALTER TABLE public.participant_progress OWNER TO exam_user;

--
-- Name: participants; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.participants (
    id uuid NOT NULL,
    user_id character varying(255) NOT NULL,
    challenge_id uuid NOT NULL,
    participant_code character varying NOT NULL,
    state character varying NOT NULL,
    college character varying NOT NULL,
    account_status public.account_status_enum NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.participants OWNER TO exam_user;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.questions (
    id uuid NOT NULL,
    challenge_id uuid NOT NULL,
    exam_day_id uuid NOT NULL,
    question_order integer NOT NULL,
    question_text character varying NOT NULL,
    option_a character varying NOT NULL,
    option_b character varying NOT NULL,
    option_c character varying NOT NULL,
    option_d character varying NOT NULL,
    correct_option character varying(1) NOT NULL,
    weight numeric(8,2) NOT NULL,
    difficulty public.difficulty_enum NOT NULL,
    allocated_time_seconds integer NOT NULL,
    hint_text character varying,
    hint_penalty_percentage numeric(5,2) NOT NULL,
    is_special boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.questions OWNER TO exam_user;

--
-- Name: rankings; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.rankings (
    id uuid NOT NULL,
    challenge_id uuid NOT NULL,
    participant_id uuid NOT NULL,
    total_score numeric(10,2) NOT NULL,
    percentile numeric(6,3),
    global_rank integer,
    state_rank integer,
    institution_rank integer,
    ranking_finalized boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.rankings OWNER TO exam_user;

--
-- Name: registration_applications; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.registration_applications (
    id uuid NOT NULL,
    challenge_id uuid NOT NULL,
    email character varying NOT NULL,
    name character varying NOT NULL,
    state character varying NOT NULL,
    college character varying NOT NULL,
    participant_code character varying NOT NULL,
    enrolled boolean NOT NULL,
    welcome_email_sent_at timestamp with time zone,
    welcome_email_status character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.registration_applications OWNER TO exam_user;

--
-- Name: responses; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.responses (
    id uuid NOT NULL,
    attempt_id uuid NOT NULL,
    question_id uuid NOT NULL,
    selected_option character varying(1),
    is_correct boolean,
    hint_used boolean NOT NULL,
    answered_at timestamp with time zone,
    time_taken_seconds integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.responses OWNER TO exam_user;

--
-- Name: scoring_versions; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.scoring_versions (
    id integer NOT NULL,
    challenge_id uuid NOT NULL,
    description character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.scoring_versions OWNER TO exam_user;

--
-- Name: scoring_versions_id_seq; Type: SEQUENCE; Schema: public; Owner: exam_user
--

CREATE SEQUENCE public.scoring_versions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.scoring_versions_id_seq OWNER TO exam_user;

--
-- Name: scoring_versions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: exam_user
--

ALTER SEQUENCE public.scoring_versions_id_seq OWNED BY public.scoring_versions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: exam_user
--

CREATE TABLE public.users (
    id character varying(255) NOT NULL,
    firebase_uid character varying NOT NULL,
    email character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO exam_user;

--
-- Name: scoring_versions id; Type: DEFAULT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.scoring_versions ALTER COLUMN id SET DEFAULT nextval('public.scoring_versions_id_seq'::regclass);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: attempt_answers attempt_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.attempt_answers
    ADD CONSTRAINT attempt_answers_pkey PRIMARY KEY (id);


--
-- Name: attempts attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_pkey PRIMARY KEY (id);


--
-- Name: challenges challenges_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.challenges
    ADD CONSTRAINT challenges_pkey PRIMARY KEY (id);


--
-- Name: exam_days exam_days_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.exam_days
    ADD CONSTRAINT exam_days_pkey PRIMARY KEY (id);


--
-- Name: institution_rankings institution_rankings_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.institution_rankings
    ADD CONSTRAINT institution_rankings_pkey PRIMARY KEY (id);


--
-- Name: participant_progress participant_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.participant_progress
    ADD CONSTRAINT participant_progress_pkey PRIMARY KEY (id);


--
-- Name: participants participants_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT participants_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: rankings rankings_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.rankings
    ADD CONSTRAINT rankings_pkey PRIMARY KEY (id);


--
-- Name: registration_applications registration_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.registration_applications
    ADD CONSTRAINT registration_applications_pkey PRIMARY KEY (id);


--
-- Name: responses responses_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_pkey PRIMARY KEY (id);


--
-- Name: scoring_versions scoring_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.scoring_versions
    ADD CONSTRAINT scoring_versions_pkey PRIMARY KEY (id);


--
-- Name: attempt_answers uq_attempt_answer_question; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.attempt_answers
    ADD CONSTRAINT uq_attempt_answer_question UNIQUE (attempt_id, question_id);


--
-- Name: responses uq_attempt_question; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT uq_attempt_question UNIQUE (attempt_id, question_id);


--
-- Name: institution_rankings uq_challenge_college; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.institution_rankings
    ADD CONSTRAINT uq_challenge_college UNIQUE (challenge_id, college);


--
-- Name: exam_days uq_challenge_day_number; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.exam_days
    ADD CONSTRAINT uq_challenge_day_number UNIQUE (challenge_id, day_number);


--
-- Name: rankings uq_challenge_participant_rank; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.rankings
    ADD CONSTRAINT uq_challenge_participant_rank UNIQUE (challenge_id, participant_id);


--
-- Name: questions uq_examday_order; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT uq_examday_order UNIQUE (exam_day_id, question_order);


--
-- Name: participants uq_participant_code; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT uq_participant_code UNIQUE (participant_code);


--
-- Name: attempts uq_participant_exam_day; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT uq_participant_exam_day UNIQUE (participant_id, exam_day_id);


--
-- Name: participant_progress uq_progress_challenge_participant; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.participant_progress
    ADD CONSTRAINT uq_progress_challenge_participant UNIQUE (challenge_id, participant_id);


--
-- Name: registration_applications uq_registration_email_challenge; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.registration_applications
    ADD CONSTRAINT uq_registration_email_challenge UNIQUE (email, challenge_id);


--
-- Name: registration_applications uq_registration_participant_code; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.registration_applications
    ADD CONSTRAINT uq_registration_participant_code UNIQUE (participant_code);


--
-- Name: participants uq_user_challenge; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT uq_user_challenge UNIQUE (user_id, challenge_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_attempt_challenge; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE INDEX idx_attempt_challenge ON public.attempts USING btree (challenge_id);


--
-- Name: idx_attempt_exam_day; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE INDEX idx_attempt_exam_day ON public.attempts USING btree (exam_day_id);


--
-- Name: idx_attempt_participant; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE INDEX idx_attempt_participant ON public.attempts USING btree (participant_id);


--
-- Name: idx_rankings_challenge_global_rank; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE INDEX idx_rankings_challenge_global_rank ON public.rankings USING btree (challenge_id, global_rank);


--
-- Name: idx_rankings_challenge_score; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE INDEX idx_rankings_challenge_score ON public.rankings USING btree (challenge_id, total_score);


--
-- Name: ix_participant_progress_challenge_id; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE INDEX ix_participant_progress_challenge_id ON public.participant_progress USING btree (challenge_id);


--
-- Name: ix_participant_progress_participant_id; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE INDEX ix_participant_progress_participant_id ON public.participant_progress USING btree (participant_id);


--
-- Name: ix_registration_applications_email; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE INDEX ix_registration_applications_email ON public.registration_applications USING btree (email);


--
-- Name: ix_registration_applications_participant_code; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE INDEX ix_registration_applications_participant_code ON public.registration_applications USING btree (participant_code);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_firebase_uid; Type: INDEX; Schema: public; Owner: exam_user
--

CREATE UNIQUE INDEX ix_users_firebase_uid ON public.users USING btree (firebase_uid);


--
-- Name: attempt_answers attempt_answers_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.attempt_answers
    ADD CONSTRAINT attempt_answers_attempt_id_fkey FOREIGN KEY (attempt_id) REFERENCES public.attempts(id) ON DELETE CASCADE;


--
-- Name: attempt_answers attempt_answers_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.attempt_answers
    ADD CONSTRAINT attempt_answers_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: attempts attempts_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: attempts attempts_exam_day_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_exam_day_id_fkey FOREIGN KEY (exam_day_id) REFERENCES public.exam_days(id) ON DELETE CASCADE;


--
-- Name: attempts attempts_participant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_participant_id_fkey FOREIGN KEY (participant_id) REFERENCES public.participants(id) ON DELETE CASCADE;


--
-- Name: exam_days exam_days_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.exam_days
    ADD CONSTRAINT exam_days_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: institution_rankings institution_rankings_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.institution_rankings
    ADD CONSTRAINT institution_rankings_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: participant_progress participant_progress_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.participant_progress
    ADD CONSTRAINT participant_progress_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: participant_progress participant_progress_participant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.participant_progress
    ADD CONSTRAINT participant_progress_participant_id_fkey FOREIGN KEY (participant_id) REFERENCES public.participants(id) ON DELETE CASCADE;


--
-- Name: participants participants_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT participants_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: participants participants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT participants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: questions questions_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: questions questions_exam_day_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_exam_day_id_fkey FOREIGN KEY (exam_day_id) REFERENCES public.exam_days(id) ON DELETE CASCADE;


--
-- Name: rankings rankings_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.rankings
    ADD CONSTRAINT rankings_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: rankings rankings_participant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.rankings
    ADD CONSTRAINT rankings_participant_id_fkey FOREIGN KEY (participant_id) REFERENCES public.participants(id) ON DELETE CASCADE;


--
-- Name: registration_applications registration_applications_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.registration_applications
    ADD CONSTRAINT registration_applications_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: responses responses_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_attempt_id_fkey FOREIGN KEY (attempt_id) REFERENCES public.attempts(id) ON DELETE CASCADE;


--
-- Name: responses responses_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: scoring_versions scoring_versions_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: exam_user
--

ALTER TABLE ONLY public.scoring_versions
    ADD CONSTRAINT scoring_versions_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict mtIgrKIJ1fPFWmOhjO7234Wdi2QmI4WnA169gUori4SZXfhJJ8t1fHXb7GXKVx1

